RewriteEngine On 
RewriteBase /

RewriteRule ^lien-he.html$ contact.php 
RewriteRule ^cat/(.*)-([0-9]+)-page-([0-9]+).html$ cat.php?id=$2&page=$3
RewriteRule ^cat/(.*)-([0-9]+).html$ cat.php?id=$2
RewriteRule ^detail/(.*)-([0-9]+).html$ detail.php?id=$2
RewriteRule ^page/([0-9]+)$ index.php?page=$1
